<?xml version="1.0" encoding="utf-8"?>
<InstalledPlugins xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Plugin>
    <Name>OceanPlugin</Name>
    <Description>this is the main registery point for the plugin</Description>
    <Contact>contact@company.info</Contact>
    <PluginTypeName>OceanCoursePlugin.OceanPlugin, OceanCoursePlugin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</PluginTypeName>
    <PluginUri>http://www.pluginuri.info/</PluginUri>
    <PluginId>://OceanCoursePlugin.OceanPlugin/1.0.0.0</PluginId>
    <Trust PublicKeyToken="">Default</Trust>
    <ReleaseDate>2020-02-13</ReleaseDate>
    <Author>Hosein</Author>
    <AppVersion>2016.1</AppVersion>
    <Modules>
      <Module TypeName="OceanCoursePlugin._10_DataAccessSimulation.DataAccessSimulationModule, OceanCoursePlugin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </Modules>
    <Dependencies />
    <Assemblies>
      <Assembly Name="OceanCoursePlugin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </Assemblies>
    <assemblyBinding />
    <StartMode>Startup</StartMode>
    <StartupAction>None</StartupAction>
  </Plugin>
</InstalledPlugins>